
#invader {
    /* display:grid;
    grid-template-columns:repeat(10,40px);
    grid-template-rows: repeat(10,40px); */
    background-color: rgb(28, 71, 228);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.ligne {
    display: flex;
    justify-content: center;
}


.pixel-color {
    background-color: gray;
}


.pixel-black {
    background-color: black;
}



.button {
    margin-left: 10px;
}


.configuration { 
    display: flex;
     justify-content: center;
     padding: 20px;
     background-color: rgb(38, 40, 109);
}



.title {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 580px;
    padding: 10px;

}




.palette {
    border : 1px soldi black;
}


.palette_color {
    width : 50px;
    height : 50px;
    border-radius: 50px;
    border-radius: 2px solid black;
}


